<nav class='flex'>
    <a href={{{ my_urls.experience_url }}}>Professional Experience</a> |
    <a href={{{ my_urls.skills_url }}}>Skills</a> |
    <a href={{{ my_urls.about_url }}}>About Me</a> |
    <a href="#footer">Contact Me</a>
</nav>