<article id='skills' class='point flex'><strong>Skills:</strong>
    <section>
        <table>
            <tr>
                <th class='border-none'><label for="skills-css">CSS:</label></th>
                <th class='border-none'><progress id="skills-js" value="15" max="100"></progress></th>
            </tr>
            <tr>
                <th class='border-none'><label for="skills-html">HTML:</label></th>
                <th class='border-none'><progress id="skills-html" value="55" max="100"></progress></th>
            </tr>
            <tr>
                <th class='border-none'><label for="skills-js">JavaScript:</label></th>
                <th class='border-none'><progress id="skills-js" value="15" max="100"></progress></th>
            </tr>
            <tr>
                <th class='border-none'><label for="skills-python">Python:</label></th>
                <th class='border-none'><progress id="skills-python" value="75" max="100"></progress></th>
            </tr>
        </table>
    </section>
</article>